body{
    margin: 50px;
}
.top{
    display: flex;
    justify-content: space-between;
}
.logo-img{
    margin-left: 50px;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    margin: 30px;
}
.navbar ul li{
    margin: 10px;
    
}
.bottom{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 70px;
    background-color: aquamarine;
    opacity: 0.6;
}
.bottom-item2{
   padding: 25px;
   
}
.background{
    background-image: url(images/billboard.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}